[submodule "kmeansImageFilter"]
	path = Projects/KMeansImageFilter/kmeanImageFilter
	url = https://github.com/tabrownies/kmeanImageFilter

[submodule "planetaryOrbit"]
	path = Projects/WebsiteOrrery/planetaryOrbit
	url = https://github.com/tabrownies/planetaryOrbit

[submodule "brickBreaker"]
	path = Projects/BrickBreaker/brick-breaker
	url = https://github.com/tabrownies/Brick-Breaker

[submodule "romanNumeralConverter"]
	path = Projects/romanNumeralConverter/romanNumeralConverter
	url = https://github.com/tabrownies/RomanNumeralConverter