.about{
    display: flex;
    justify-content: center;
}



.about-text{
    /* width:750px; */
    padding:10px 20px;
}

.about-text h2{
    font-size:45px;
    padding:10px;
    text-align: center;
}

.about-text h3{
    font-size:35px;
    padding:5px 10px;
}

.about-text p{
    font-size: 30px;
    padding:10px;
}
.about-text a{
    color:var(--mezzo-light);
}
.about-text a:hover{
    color:var(--mid);
}

.picture-frame{
    display: flex;
    justify-content: center;
}

.my-picture{
    border-radius: 100%;
    width:350px;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* box-shadow: 3px 3px #b19cd3d7; */
    border:1.5px solid var(--light)
}

.project-picture{
    width:500px;
    object-fit: cover;
    aspect-ratio: 4/3;
    /* box-shadow: 3px 3px #eaeaea; */
    border:1.5px solid var(--light);
    border-radius: 4px;
}


/* picture specific styles */
@media only screen and (max-width:600px){
    .my-picture{
        width:80%;
    }
    .project-picture{
        width:90%;
    }
}
@media only screen and (min-width:750px){
    .project-picture{
        width:700px;
    }
}

@media only screen and (min-width:875px){
    .about-text{
        width:75%;
    }
}