.about{
    /* width:700px; */
    display: flex;
    justify-content: left;
}
.about-text{
    width:750px;
    padding:10px 20px;
}

.about-text h2{
    font-size:45px;
    padding:10px;
    
}

.about-text h3{
    font-size:35px;
    padding:5px 10px;
}

.about-text p{
    font-size: 30px;
    padding:10px;
}
.about-text a{
    color:inherit;
}
.about-text a:hover{
    color:gray;
}