.project-info {
    width: 750px;
    padding: 10px 20px;
}
.project-info h1{
    font-size:50px;
}

.project-info h2{
    font-size:45px;
    padding:10px;
    
}

.project-info h3{
    font-size:35px;
    padding:5px 10px;
}

.project-info p{
    font-size: 30px;
    padding:10px;
}
.project-info a{
    color:inherit;
}
.project-info a:hover{
    color:gray;
}