.content{
    margin: auto;
    background-color:lightgray;
}
.content h1{
    padding-top:30px;
    text-align:center;
    
}
.content h2{
    padding:10px;
    text-align:center;
}

.content p{
    font-size:34px;
    padding:15px;
}
.content h3{
    text-align:center;
}
.content ul{
    list-style: none;
    padding:12px;
}
.content ul li{
    font-size:20px;
    margin:15px;
}
@media only screen and (min-width:1000px){
    .content{
        width:1000px;
    }
}
@media only screen and (max-width:999px){
    .content{
        width:100%;
    }
}
