
.game{
    --width:100px;
    --back-c: gray;
    border: 12px solid black;
    background-color:var(--back-c);
    height:calc(var(--width)*7);
    width:calc(var(--width)*7);
    box-sizing: content-box;
    margin:20px;
    margin-bottom: 76px;
}
.game div{
    display:block;
    width: var(--width);
    height: var(--width);
    
}
/*start box settings*/
.start{ 
    background-color:blue;
    display:block;
    position: relative;
}
.start:hover{
    width: var(--width);
    height: var(--width);
    position: relative; 
}
.start:hover>.right{
    background-color:var(--back-c);
    
    position: absolute;
    left:var(--width);
}
.start:hover>.left{
    background-color:var(--back-c);
    
    position: absolute;
    right:var(--width);
}
.start:hover>.top{
    background-color:var(--back-c);
    
    position: absolute;
    bottom:var(--width);
}
.start:hover>.bottom{
    background-color:var(--back-c);
    position: absolute;
    top:var(--width);
}
/*right box settings*/
.right:hover{
    background-color:red !important;
    
}
.right:hover>.right
{
    background-color:var(--back-c);
    position: absolute;
    left:var(--width);
}
.right:hover>.left{
    background-color:var(--back-c);
    position: absolute;
    right:var(--width);
}
.right:hover>.top{
    background-color:var(--back-c);
    position: absolute;
    bottom:var(--width);
}
.right:hover>.bottom{
    background-color:var(--back-c);
    position: absolute;
    top:var(--width);
}


/*left box settings*/
.left:hover{
    background-color:green !important;
}
.left:hover>.right
{
    background-color:var(--back-c);
    position: absolute;
    left:var(--width);
}
.left:hover>.left{
    background-color:var(--back-c);
    position: absolute;
    right:var(--width);
}
.left:hover>.top{
    background-color:var(--back-c);
    position: absolute;
    bottom:var(--width);
}
.left:hover>.bottom{
    background-color:var(--back-c);
    position: absolute;
    top:var(--width);
}

/*top box settings*/
.top:hover{
    background-color:yellow !important;
}
.top:hover>.right
{
    background-color:var(--back-c);
    position: absolute;
    left:var(--width);
}
.top:hover>.left{
    background-color:var(--back-c);
    position: absolute;
    right:var(--width);
}
.top:hover>.top{
    background-color:var(--back-c);
    position: absolute;
    bottom:var(--width);
}
.top:hover>.bottom{
    background-color:var(--back-c);
    position: absolute;
    top:var(--width);
}

/*bottom box settings*/
.bottom:hover{
    background-color:orange !important;
}
.bottom:hover>.right
{
    background-color:var(--back-c);
    position: absolute;
    left:var(--width);
}
.bottom:hover>.left{
    background-color:var(--back-c);

    position: absolute;
    right:var(--width);
}
.bottom:hover>.top{
    background-color:var(--back-c);

    position: absolute;
    bottom:var(--width);
}
.bottom:hover>.bottom{
    background-color:var(--back-c);

    position: absolute;
    top:var(--width);
}
.final a{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    
}
.final a:hover{
    background-color: purple;
    font-size:initial;
    text-decoration:none;
    color:white;
    font-weight: 400;
}
@media only screen and (max-width:1000px){
    .game{
        border:none;
        --width:50px;
    }
}
@media only screen and (max-width:350px){
    .game{
        border:none;
        --width:30px;
    }
}