.game div{
    width:100px;
    height:100px;
    position: relative;
}
.game{
    --back-c: gray;
    background-color:var(--back-c);
    height: 700px;
    width:700px;
}
.start{
    position: relative;
    width:100px;
    background-color:blue;
}
.right{
    position: absolute;
    background-color: red;
    left:100px;
}
.left{
    position: absolute;
    background-color: green;
    right:100px;
}
.top{
    position: absolute;
    background-color: yellow;
    bottom:100px;
}
.bottom{
    position: absolute;
    background-color: orange;
    top:100px;
}
