.congradulations{
    width:100%;
    display:flex;
    padding:200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.congradulations h1{
    font-family:cursive;
    font-size: 50px;
    text-align: center;
    color:rgb(34, 45, 56);
}
.congradulations h2{
    font-family:cursive;
    font-size: 40px;
    text-align: center;
    color:#345;
}

/*adjust color-styling*/
body{
    background-color: lightgray;
    
}
.navbar{
    border-bottom: 3px solid #345 ;
}
.navbar-light{
    background-color:white !important;
}
.nav-link:hover{
    color:#345 !important;
}
footer{
    background-color:white;
    border-top: 3px solid #345 ;
    position: absolute;
    bottom:0;
}
footer a{
    color: #345;
    
}
footer a:hover{
    color:rgba(0,0,0,.5);
    
}
@media only screen and (max-width: 600px){
    .congradulations{
        padding:200px 0;
    }
    .congradulations h1{
        font-size: 20px;
    }
    .congradulations h2{
        
        font-size: 15px;
    }
}


